p{
    margin-bottom: 5px;
}
.table{
    width: 100%;
    margin-bottom: 0px;
    border-color: black;
}
.description{
    width: 100%;
}
.detalles-envio{
    display: flex;
    flex-direction: column;
}
.espaciado{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.max-height{
    height: 100%;
}
.separetion{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.background-factura{
    background:white;
}