.contenedor{
    background-color: white;
    display:flex;
    flex-direction: column;
}
.barra-ayudas{
    display: flex;
    justify-content: flex-end;
    padding-right: 5vw;
    width: 100%;
}
.barra-ayudas p {
    margin: auto 10px;
    font-size: 12px;
}
.fav {
    font-size: 12px;
}
.user{
    font-size: 15px;
}
.input-container-search{
    width: 40%;
    margin: 10px 0px;

}
.inp-buscador{
    border-radius: 8px;
    border-width: 1px 0px 1px 1px;
    border-color: gray;
    border-width: 3px;
    height: 3vw;
    min-height: 35px;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #245b7e;
    outline: 0;
    box-shadow: none;
}
.buscador{
    color: white;
    border-width: 1px 1px 1px 0px;
    border-color: #245B7E;
    border-width: 3px;
    background-color: #245B7E;
    border-radius: 8px;
    height: 3vw;
    min-height: 35px;
}
.buscador i{
    font-size: 20px;
}
.contenedor-buscador{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carrito{
    font-size: max(2.7vw, 35px);
    align-items: center;
    margin-left: 10px;
}
.carrito:hover{
    color: #245B7E;
}
.nav-dropdown{
    display: flex;
    align-items: center;
    background: transparent;
    color: black;
    border: none;
    height: 30px;
}
.nav-dropdown::selection{
    background-color: #245B7E;
}
.nav-item.dropdown.show a {
    color: blue !important;
}

.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: #fff;
   background-color: #b91773;
   border-color: #fff;
}
.dropdown-toggle::after {
    content: none;
}
.mi-cuenta-logs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.mi-cuenta-logs button{
    width: 143px;
    margin: 0px 5px;
}
#login{
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: #245B7E;
    color: #245B7E;
    font-weight: 600;
    border-radius: 10px;
    font-size: 15px;
}
#register{
    background-color: #245B7E;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    font-size: 15px;
}
.dropdown ul{
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #245B7E;
}
.divisor{
    border-width: 2px;
    border-color: #245B7E;
    margin: 10px 15px;
}