.table-accesories{
    
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.accesories{
    
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    flex-wrap: nowrap;
    align-items: center;
}
.accesory{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 5px 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.accesory img{
width: 100%;
min-width: 200px;
min-height: 200px;
max-width: 250px;

}
.accesories::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #245B7E;
    border-radius: 20px;
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
      inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
  
.accesories::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}
  
.accesories::-webkit-scrollbar-corner {
    background-color: transparent;
}